@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Primary */
    --tittle-color: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* Neutral */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --a-color: hsl(0, 0%, 100%);
}

body {
    font: 18px 'Public Sans', sans-serif;
    overflow-x: hidden;
    letter-spacing: -0.04vw;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--a-color);
}
   

.invite a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 100px;
    background-image: linear-gradient( 128deg, var(--lime-green), var(--bright-cyan) );
    user-select: none;
    font-size: 14px;
}

#nav-bar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: var(--a-color);
    user-select: none;
    padding: 0 150px;
    width: 100vw;
    height: 75px;
    z-index: 1;
}

#nav-bar img {
    pointer-events: none;
}

#items {
    width: 330px;
}

#items ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100vw;
    gap: 30px;
}

#items ul li a {
    color: var(--grayish-blue);
    font-size: 14px;
    font-weight: 500;
}

#items ul li a:hover {
    border-image: linear-gradient( 128deg, var(--lime-green), var(--bright-cyan) ) 1;
    border-width: 4px;
    border-style: none;
}

#app {
    display: flex;
    flex-direction: column;
}

#page-2, #page-3 {
    padding: 90px 12% 0;
    height: 550px;
}

#page-1, #page-3 {
    background-color: var(--very-light-gray);
}

/* page 1 */

#page-1 {
    
}

#txt {
    display: flex;
    flex-direction: column;
    color: var(--grayish-blue);
    padding: 200px 12% 0;
    height: 650px;
    font-size: 17px;
    gap: 25px;
}

#txt h1 {
    color: var( --tittle-color);
    font-weight: 400;
    font-size: 50px;
}

#subtitle {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#images {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

#bg-intro {
    position: relative;
    
}

#bg-intro #pg1-img1 {
    position: inherit;
    top: -120px;
    right: -270px;
}

#bg-intro #pg1-img1 img {
    width: 1000px;
    height: 800px;
}

#bg-intro #pg1-img2 {
    position: inherit;
    top: -840px;
    right: -425px;
}

#bg-intro #pg1-img2 img{
    height: 850px;
}

/* page 2 */

